<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Raleway:400,600,700&display=fallback" />
  <script type="importmap" src="/dist/web_modules/import-map.json"></script>
</head>

<body>

  <script>window.require = console.log</script>
  <div id="root"></div>
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script type="module" src="/dist/WEB_sysadmin/application/main.js"></script>

</body>
<!-- Blueprint stylesheets -->
<link href="https://unpkg.com/@blueprintjs/icons@^3.4.0/lib/css/blueprint-icons.css" rel="stylesheet" />
<link href="https://unpkg.com/@blueprintjs/core@^3.10.0/lib/css/blueprint.css" rel="stylesheet" />