@use '@blueprintjs/core/lib/css/blueprint.css';
@use '@blueprintjs/icons/lib/css/blueprint-icons.css';
@use '@blueprintjs/table/lib/css/table.css';
@use '@blueprintjs/select/lib/css/blueprint-select.css';
@use '@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@use './global.scss';

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
